/*
    font-family: 'Crimson Text', serif;

    font-family: 'Work Sans', sans-serif;
*/
/*    RESET STYLES    */
html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
}
*,*::before,*::after {
    box-sizing: inherit;
    padding: inherit;
    margin: inherit;
}
body {
    font-family: 'Work Sans', sans-serif; ;
}
.main{
    position: relative;
}
ul {
    list-style: none;
    
}
a {
    text-decoration: none;
    color: #000;
    width: 100%;
    display: inline-block;    
}
h1{font-size: 2.25rem;}
h2{font-size: 1.75rem;}
h3{font-size: 1.5rem;}
h4{font-size: 1.2rem;}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Crimson Text', serif;
}
p {
    line-height:1.8rem;
}
section {
    padding: 0.05rem;
}

.title {
    text-transform: capitalize;
}

/*    LAYOUT PAGE STYLES    */
.page-wrapper {
    width: 100%;
    max-width: 37.5rem;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}
/*    HEADER STYLES    */
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.title-wrapper,.menu-container, .menu{
    width: 100%;
    max-width: 600px;
}

.title-wrapper {
    text-align: center;
    margin: 1em auto 1em;
    
}
/* MENU STYLES */
.menu-container {
    display: flex;

    
    margin-bottom: 1rem;
    flex-direction: column;
}
.menu {
    border-radius: 0.5em;
    border: 2px solid grey;
    overflow-y: scroll;
    overflow-x: hidden;
    
}
.menu-item {
    font-size: 1.25em;
    line-height: 1.5rem;
    font-family: 'Crimson Text', serif;
    transition: all 500ms;
}
.menu-item a {
    margin-left: 0.75rem;
}
.menu-item:first-child{
    margin-top: 0.75rem;
}
.menu-item:not(:last-child) {
    border-bottom: 2px solid grey;
    height: 3rem;
}
.menu-item:hover {
    background-color: rgb(163, 220, 255);
}
/* ARTICLES AND SECTIONS */
article {
    margin: 1em 0
}
article>p, li>p {
    margin-left: 0.75rem;
}
.title {
    text-transform: capitalize;
}

hr{
position: relative;
color: rgba(56, 56, 56, 0.678);
}

hr::before{
position: absolute;
content: '';
background-color:rgb(255, 255, 255);
width: 75%;
height: 10px;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}

@media (min-width: 960px) {
    .page-wrapper {
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 3fr;
        position: relative;
        
    }
    .header {
        width: 25%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        
        display: grid;
        grid-template-rows: 200px 1fr;
        gap: 3rem;
        justify-content: center;
        align-items:flex-start;
        overflow-y: auto;
    }
    .menu-container{
        height: auto;
        width: 100%;
        overflow-y: hidden;
        border-radius: 0;
        border: none;
        display: flex;  
        flex-direction: column;
        margin-bottom: -1rem;
    }
    .menu {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding:0;
        border: none;
    }
    .menu-item{
        width: 100%;
        display: flex;
        align-items: center;
    }
    .menu-item:first-child{
        border-top: 2px solid gray;
    }
    .menu-item:last-child {
        border-bottom: 2px solid gray;
    }

    .main {
        position: absolute;
        left: 27%;
    }
    .title {
        padding: 1rem;
    }
}
